@font-face{
    font-family: 'SpaceGroteskRegular';
    src: url('SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'SpaceGroteskLight';
    src: url('SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'SpaceGroteskBold';
    src: url('SpaceGrotesk-Bold.ttf') format('truetype');
}



