$fontRegular: 'SpaceGroteskRegular';
$fontBold: 'SpaceGroteskBold';
$fontLight: 'SpaceGrotesLight';

$corPrimaria: #000;
$corSecundaria:#f0f5ff;

$corCinzaUm:#7c7786;
$corCinzaDois:#4D4C4D;
$corCinzaTres:#333333;
$corCinzaQuatro:#f4f4f4;
$corAmarelo:#ffd700;
$corLaranja:#ff9900; 
$darkRed: #8B0000;
$desktopBreakpoint:992px;
// linha de corte
//#0F71D3
//#0F71D3